@import '../themes';

@include themify() {
  .container {
    overflow: hidden;
    padding: 0;
  }

  .toolbar {
    padding: 10px $side-margin $side-margin $side-margin;

    .title {
      text-align: center;
      margin-bottom: 14px;
      font-size: 13px;
      vertical-align: text-top;
    }

    .profile {
      position: relative;

      .status {
        position: absolute;
        vertical-align: middle;
        margin-left: 8px;
        top: -2px;
        right: -2px;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background-color: themed('dangerColor');
      }

      .status.online {
        background-color: themed('onlineColor');
      }
    }

    .actions {
      padding: 0px;

      i {
        font-size: 16px;
      }

      .icon {
        height: 16px;
      }
    }

    .actions > .col:last-child {
      text-align: right;
    }

    button {
      margin: 0px 3px;
    }

    button:first-of-type {
      margin-left: 0;
    }

    button:last-of-type {
      margin-right: 0;
    }
  }

  .wormholes {
    .nav {
      flex-wrap: unset;
      overflow-x: auto !important;
      white-space: nowrap;
      margin: $side-margin;
    }

    .nav-link {
      &:not(.active):hover {
        opacity: 0.6;
        color: themed('primaryForegroundColor');
      }

      &.active {
        background-color: themed('primaryColor');
        color: themed('primaryForegroundColor');
        font-weight: bold;
      }
    }

    .tab-content {
      overflow-y: auto;
      height: 69vh;
    }

    .noholes {
      margin: auto;
      text-align: center;
      opacity: 0.6;
      margin: 5rem;

      i {
        font-size: 7rem;
      }
    }

    .online {
      display: inline-block;
      vertical-align: middle;
      margin-left: 8px;
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background-color: themed('onlineColor');
    }

    .drop {
      margin: $side-margin;
      padding-top: $side-margin;
      padding-bottom: $side-margin;
      border-radius: 0.25rem;
      background: themed('primaryColor');

      .progress {
        background: themed('secondaryBackgroundColor');
      }

      .name-row {
        .name {
          font-weight: bold;
          font-size: 18px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          flex-grow: 3;
        }

        i {
          margin-left: 15px;
          cursor: pointer;
        }

        i:active,
        i:focus {
          opacity: 0.6;
        }
      }

      .status {
        margin-top: 4px;
        margin-bottom: 8px;
        font-size: 13px;
        font-weight: 300;
      }
    }

    .drop:first-child {
      margin-top: 0px;
    }
  }
}
