@import '../themes';

@include themify() {

  .modal-dialog {
    margin: $side-margin;
  }

  .modal-content {
    margin: auto;
    border-radius: 0.25rem;
    padding: 5px;
    background: themed('primaryColor');

    button,
    button:active,
    button:hover,
    button:focus {
      background: themed('primaryBackgroundColor') !important;
    }

    button.close,
    button.close:active,
    button.close:hover,
    button.close:focus {
      background: transparent !important;
    }

    label {
      font-size: 0.9rem;
      text-transform: uppercase;
    }
  }

  .modal-header {
    border-bottom: none;
  }

  .modal-body input {
    background: themed('secondaryBackgroundColor');
    color: themed('primaryForegroundColor');
    border: none;
  }

  // .modal-body textarea::placeholder,
  // .modal-body input::placeholder {
  //   color: themed('primaryForegroundColor');
  // }

  .modal-footer {
    border-top: none;
  }
}
