@import '../themes';

@include themify() {
  $modal-margin: 1.4rem;

  .modal-content {
    width: 90%;
    margin: auto;
    border-radius: 0.25rem;
    background: themed('modalBackgroundColor');

    button,
    button:active,
    button:hover,
    button:focus {
      background: themed('modalButtonBackgroundColor') !important;
    }

    button.close,
    button.close:active,
    button.close:hover,
    button.close:focus {
      background: transparent !important;
    }

    label {
      font-size: 0.9rem;
      // font-weight: 300;
      text-transform: uppercase;
    }
  }

  .modal-header {
    border-bottom: none;
  }

  .modal-body input {
    background: themed('backgroundColor');
    color: themed('primaryForegroundColor');
    border: none;
  }

  // .modal-body textarea::placeholder,
  // .modal-body input::placeholder {
  //   color: themed('primaryForegroundColor');
  // }

  // .modal-body textarea {
  //   font-family: monospace;
  //   resize: none;
  // }

  // .modal-action {
  //   margin: $modal-margin;
  // }

  .modal-footer {
    border-top: none;
  }
}
