$darkTheme: (
  primaryColor: #2c2c2e,
  primaryForegroundColor: #f2f2f7,
  
  // primaryBackgroundColor: #1c1c1e,
  primaryBackgroundColor: #111113,
  secondaryBackgroundColor: #3a3a3c,
  thirdlyBackgroundColor: #48484a,

  dangerColor: #dc3545,
  onlineColor: #01a452
);