$darkTheme: (
  primaryColor: #222,

  windowBackgroundColor: #111,
  contentBackgroundColor: #000,
  backgroundColor: #323232,
  transparentBackgroundColor: #3339,
  overlayBackgroundColor: #0006,

  primaryForegroundColor: #fffc,
  primaryColorForegroundColor: #fff,
  secondaryForegroundColor: #aaa,
  mutedForegroundColor: #252525,

  highlightBorderColor: #333,

  buttonBackgroundColor: #222,
  buttonForegroundColor: #fff,

  dangerColor: #dc3545,
  dangerForegroundColor: #fff,
  onlineColor: #01A452,
);