$lightTheme: (
  primaryColor: #e5e5ea,
  primaryForegroundColor: #111113,

  primaryBackgroundColor: #fafaff,
  secondaryBackgroundColor: #d1d1d6,
  thirdlyBackgroundColor: #c7c7cc,

  dangerColor: #dc3545,
  onlineColor: #01a452,
);