$darkTheme: (
  primaryColor: rgba(44,44,46, 0.8),
  
  primaryBackgroundColor: rgba(17,17,19, 0.8),

  primaryForegroundColor: rgba(242,242,247, 1),
  
  // primaryBackgroundColor: #1c1c1e,
  secondaryBackgroundColor: #3a3a3c,
  thirdlyBackgroundColor: #48484a,

  dangerColor: #dc3545,
  onlineColor: #01a452
)